.detail-hero {
  height: 835px;
}
#hero-banner {
  position: relative;
  border-radius: 12px;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1.25rem;
}
.hero-overlay {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0) 0%,
    rgba(20, 20, 20, 1) 100%
  );
  z-index: 0;
  pointer-events: none;
}
.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#movie-title {
  font-size: var(--fs-xl);
  margin-bottom: 1.8rem;
}
.hero-buttons {
  display: flex;
  gap: 1.25rem;
}
.btn-primary {
  font-size: var(--fs-xm);
  background-color: var(--color-button-primary);
  font-weight: 600;
  padding: 1rem 1.6rem;
  border-radius: 8px;
  cursor: pointer;

  i {
    font-size: var(--fs-x1m);
    margin-right: 0.25rem;
  }
}
.btn-secondary {
  background-color: var(--bg-second);
  color: var(--text-primary);
  border: none;
  font-size: var(--fs-x1m);
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.detail-container {
  margin-top: 3.25rem;
}
.detail-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.25rem;
}
.description-box {
  font-size: var(--fs-xm);
  background: var(--bg-active);
  padding: 3.125rem;
  border-radius: 12px;
  border: 1px solid var(--color-border-v2);
}
.description-box .label-text {
  margin-bottom: 0.875rem;
}
.label-text {
  color: var(--text-sub);
  font-size: var(--fs-xm);
}

.sidebar-card {
  background: var(--bg-active);
  border: 1px solid var(--color-border-v2);
  padding: 3.125rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.info-item {
  font-size: var(--fs-xm);
}
.info-label {
  color: var(--text-sub);
  margin-bottom: 0.875rem;
}
.info-label i {
  margin-right: 0.25rem;
}
.tags {
  display: flex;
  gap: 0.625rem;
  flex-wrap: wrap;
}
.tags .tag {
  background-color: var(--bg-main);
  padding: 0.5rem 0.875rem;
  border-radius: 8px;
  border: 1px solid var(--color-border-v2);
}
.rating-box {
  background-color: var(--bg-main);
  border: 1px solid var(--color-border-v2);
  border-radius: 8px;
  padding: 1rem 1rem;
}
#movie-year,
.rating-box .source,
.rating-box .stars {
  font-size: var(--fs-x0m);
}
#rating-stars {
  color: var(--color-button-primary);
}
#rating-stars span {
  color: var(--text-primary);
}
#director-box {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}
.crew-card {
  display: flex;
  background-color: var(--bg-main);
  border: 1px solid var(--color-border-v2);
  border-radius: 8px;
  padding: 0.875rem 0.875rem;
  align-items: center;
  gap: 0.625rem;
}
.crew-card img {
  width: 3.75rem;
  height: 3.75rem;
  object-fit: cover;
  border-radius: 8px;
}
.main-content {
  min-width: 0;
}
.cast-section {
  background: var(--bg-active);
  border: 1px solid var(--color-border-v2);
  padding: 3.125rem;
  border-radius: 12px;
  margin-top: 1.875rem;
  overflow: hidden;
}
.cast-section .section-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}
.cast-slider {
  display: flex;
  gap: 1.25rem;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  width: 100%;
  flex-wrap: nowrap;
}
.cast-slider::-webkit-scrollbar {
  display: none;
}
.cast-item-img {
  flex: 0 0 6.375rem;
  aspect-ratio: 1/1;
  border-radius: 12px;
  object-fit: cover;
  overflow: hidden;
}

.episodes-section {
  background-color: var(--bg-active);
  border-radius: 12px;
  padding: 2.5rem 2.5rem;
  margin-bottom: 1.875rem;
}
.episodes-section .label-text {
  font-size: var(--fs-x2m);
  color: var(--text-primary);
  margin-bottom: 2rem;
}
#episodes-container {
  background-color: var(--bg-second);
  border: 1px solid var(--color-border-v2);
  padding: 3.125rem 3.125rem;
  border-radius: 12px;
}
.episode-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem 0;
  border-bottom: 1px solid var(--color-border-v2);
}
.ep-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: var(--fs-x0m);
}
.ep-head .duration {
  background-color: var(--bg-main);
  border: 1px solid var(--color-border-v2);
  border-radius: 8px;
  padding: 0.5rem 0.625rem;
  color: var(--text-sub);
  font-size: var(--fs-s);
}
.duration i {
  margin-right: 0.25rem;
}
.ep-info {
  width: 100%;
}
.ep-info p {
  color: var(--text-sub);
  font-size: var(--fs-xm);
}
.ep-number {
  font-size: var(--fs-x3m);
  font-weight: 600;
  color: var(--text-sub);
}
.ep-thumbnail {
  position: relative;
  width: 10.75rem;
  flex-shrink: 0;
}

.ep-thumbnail img {
  width: 100%;
  border-radius: 8px;
}

.ep-thumbnail i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--fs-x2m);
  background: rgba(0, 0, 0, 0.6);
  padding: 0.75rem;
  border-radius: 50%;
}
/* MODAL XEM PHIM */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  width: 80%;
  max-width: 900px;
}

.close-modal {
  position: absolute;
  top: -40px;
  right: 0;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
